<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.writing }}"><a href="/writing" title="Writing">Writing</a></li>
		<li class="{{ page.speaking }}"><a href="/speaking" title="Speaking">Speaking</a></li>
		<li class="{{ page.notes }}"><a href="/projects" title="Projects">Projects</a></li>
		<li class="{{ page.notes }}"><a href="/notes" title="Blog">Blog</a></li>
		<li class="{{ page.press }}"><a href="/press" title="Press">Press</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="Resume">Resume</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Melody Kramer</a></h3>
</div> <!-- /header -->
